# APIs and Web Server
fastapi
uvicorn
orjson
psutil

# Serverless (AWS Lambda)
mangum

# Database & Storage
supabase

# Settings
pydantic-settings

# Redis & Caching
redis

# Load Testing
locust

# Machine Learning & Data Processing
pandas
numpy
scipy
implicit
faiss-cpu
